html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
}
.navbar {
  font-size: 18px;
  &.navbar-inverse {
    background-image: url($images-path + "login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}