.login-wraper {
  background-image: url($images-path + "login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  color: $white;
  &:before {
    content: "";
    display: table;
    clear: both;
  }
  .form-data {
    margin: 0 auto;
    margin-top: 20%;
    width: 40%;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    h2 {
      font-size: 24px;
    }
    .error {
      color: #FFE500;
    }
    input[type='text'], input[type='password'] {
      position: relative;
      background: transparent;
      border: 0;
      color: $white;
      padding-left: 40px;
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      &::-webkit-input-placeholder {
        color: $white;
      }
      &:-webkit-autofill, &:-webkit-autofill:focus, &:-webkit-autofill:active, &:-webkit-autofill:hover  {
        -webkit-box-shadow: 0 0 0 50px #333 inset !important; /* Change the color to your own background color */
        -webkit-text-fill-color: #ffffff;
      }

    }
    input[type='submit'] {
      margin-bottom: 30px;
    }
    .user, .pass {
      position: absolute;
      top: 10px;
      left: 25px;
    }
  }
}